.project .title::after {
    background: #111;
    content: "previous work";
}
.carousel-project .card {
    background: #222;
    text-align: center;
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.6s ease;
}
.project .card:hover {
    transform: translate(0, -7px);
    box-shadow: 0 7px #888888;

}
.carousel-project .card .box {
    transition: all 0.3s ease;
}
.carousel-project .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.carousel-project .card p {
    margin-bottom: 10px;
}
.projectImages{
    width: 100%;
}
.project .button-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}