.feedback .title::after {
    background: #111;
    content: "valuable words";
}
.feedback .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    translate: all 0.9s ease;
}
.feedback .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    translate: all 0.9s ease;
}
.feedback .carousel .card:hover .box {
    cursor: pointer;
}
.feedback .carousel .card .box p{
    padding: 15px 0;
}
.feedback .carousel .card .text {
    color: #ff3503;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 0 0;
}
.feedback .carousel .card .projectName{
    padding-top: 10px;
}
.feedback .carousel .card .img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ff3503;
    transition: all 0.9s ease;
}
.feedback .carousel .card:hover .img {
    border-color: #fff;
}
.swiper-button-prev,.swiper-button-next{
    color: #ff3503 !important;
}
.quotationNintynine{
    flex-direction: row-reverse;
}
.quotationSistysix{
    transform: rotate(180deg);
}