.home {
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;       
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.151), rgba(0, 0, 0, 0.726)), url('./../../Images/Cover3.jpg');
    background-size: cover;
}
.home .max-width {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 45px;
}
.home .home-content .text-2 .name {
    font-size: 75px;
    font-weight: 600;
    color: #ff3503;
}
.home .home-content .text-3 {
    font-size: 40px;
    font-weight: 600;
    margin: 5px 0;
    display: flex;
}

.home .home-content .text-3 .typedEffect{
    padding-left: 5px;
}
.home .home-content .text-3 span {
    color: #ff3503;
}
.video{    
    width: 100%;
    height: 100vh;
    object-fit: cover;
}