.brands .title::after {
    content: "collaboration";
}
.brands-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.brands-card{
    border: 1.5px dashed #ff3503;
    width: 20%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.9s;
}
/* .brands-card:hover{
    background: #ff3503;
} */
.brands img{
    transform-style: preserve-3d;
    width: 100%;
}
.brands-card:hover img{
    transform: rotateY(360deg);
    transition: transform ease 0.9s;    
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}